* {
    margin: 0;
    padding: 0;
}

.cim{
    color: white;
    text-align: center;
}

.text{
    color: white;
    margin: 10px;
    padding: 0;
}

.cim1{
    margin-bottom: 20px;
}

p {
    color: white;
    text-align: justify;
}